@model IEnumerable<ConsultasPsicologiaMVC.Models.AgendamentoDto>
@using ConsultasPsicologiaMVC.ENUMS

@if (Model.Any())
{
    foreach (var consulta in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => consulta.NomeCompleto)</td>
            <td>@Html.DisplayFor(modelItem => consulta.Data)</td>
            <td>@Html.DisplayFor(modelItem => consulta.Hora)</td>
            <td>
                @if (consulta.TipoConsulta == ENUMTIPOCONSULTA.VIRTUAL)
                {
                    <span class="badge bg-primary">Virtual</span>
                }
                else
                {
                    <span class="badge bg-success">Presencial</span>
                }
            </td>
            <td>
                <span class="badge @(consulta.StatusConsultaString == "Ativo" ? "bg-success" : (consulta.StatusConsultaString == "Inativo" ? "bg-danger" : "bg-info"))">
                    @consulta.StatusConsultaString
                </span>
            </td>
            <td>
                <a href="#" class="btn btn-sm btn-outline-primary">Detalhes</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center">Nenhuma consulta encontrada.</td>
    </tr>
}